<!DOCTYPE html>
<html>
    <head>

        <title>FBB Home</title>
        <link rel="stylesheet" type = "text/css" href="static/styles/homepage.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>

    <body>
        <h1>Fantasy College Basketball</h1>
        <p>Welcome to the DIY Fantasy College Basketball League's Beta Version!</p>

        <div class="container">
            <div class="row">
                <div class="col-4">
                <h4 ID="teamsList">Teams</h4>
                    <ul>
                        <li><a href="{{ url_for('TeamPage', squadKey=0) }}">Team Ruff</a></li>
                        <li><a href="{{ url_for('TeamPage', squadKey=1) }}">Team Beebe</a></li>
                        <li><a href="{{ url_for('TeamPage', squadKey=2) }}">Team Pechulonis</a></li>
                        <li><a href="{{ url_for('TeamPage', squadKey=3) }}">Team Manion</a></li>
                        <li><a href="{{ url_for('TeamPage', squadKey=4) }}">Team Whalen</a></li>
                        <li><a href="{{ url_for('TeamPage', squadKey=5) }}">Team Mich</a></li>
                        <li><a href="{{ url_for('TeamPage', squadKey=6) }}">Team Edel</a></li>
                    </ul>
                </div>



                <div class="col-4">
                <h4>Players</h4>
                    <h6>ACC</h6>
                    <h6>B1G</h6>
                    <h6>Big 12</h6>
                    <h6>Big East</h6>
                    <h6>Pac 12</h6>
                    <h6>SEC</h6>
                </div>



                <div class="col-4">
                <h4>Leaderboard</h4>
                <ol>
                    <li>Team Three</li>
                    <li>Team Seven</li>
                    <li>Team One</li>
                    <li>Team Six</li>
                    <li>Team Five</li>
                    <li>Team Four</li>
                    <li>Team Two</li>
                </ol>

                </div>
            </div>
        </div>
    </body>
</html>
