p {
    padding: 50px;
}
h1 {
    color: black;
    text-align: center;
    font-weight: bold;
}

h4 {
    text-align: center;
}

.row .col-4 {
    height: 50%;
    background-color: lightgrey;
    border: 5px solid white;
}

li:hover, h6:hover{
    color: red;
}

.col-4:hover {
    background-color: #ffeecc;
}